@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --main-bg-color: rgba(2, 47, 78, 0.9);
  --main-font: 'Poppins', sans-serif;
  --main-text-color: #FFFFFF
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

a:hover {
  text-decoration: underline;
}

header {
  position: relative;
  min-height: 100vh;
  background: url('./assets/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header h1 {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 4.8rem;
  position: absolute;
  width: 550px;
  height: 170px;
  line-height: 7.2rem;
  left: 1000px;
  top: 400px;
}

header p {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 85rem;
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-align: center;
}